
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("https://1.bp.blogspot.com/-0b0ZxV6oof0/V8uOOb8HwJI/AAAAAAAABfY/ZA8Bzdw6OxUsh6zycgZdoGwE5phlnIq5QCLcB/s640/14199304_1695212350802340_7395288201855621734_n.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

form {
  width: 350px;
  height: 400px;
  background: #fff;
  background: transparent;
  color: white;
}

form h1 {
  position: relative;
  margin: 25px 0 30px;
  padding-bottom: 12px;
  width: fit-content;
  font-size: 24px;
  color: white;
  
  
}

form h1::before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  
  height: 5px;
  background: lightgreen;
  bottom: 0;
}

form button {
  width: 100%;
  height: 35px;
  border: 2px solid lightgreen;
  margin-top: 15px;
  cursor: pointer;
  color: white;
  background: transparent;
  font-size: 20px;
  margin-bottom: 15px;
}

.form-field {
  margin: 30px;
  position: relative;
  
}

.form-field input {
  width: 100%;
  height: 45px;
  padding-left: 30px;
  border: none;
  border-bottom: 2px solid lightgreen;
  outline: none;
  font-size: 16px;
  background: transparent;
  
}

.form-field input::placeholder {
 color: white; 
}

.form-field i {
  position: absolute;
  line-height: 45px;
  font-size: 20px;
  
  
}

a{
	color: lightyellow;
	
}

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	text-align: center;
	
}

